@page "/about"
<RadzenStack Orientation="Orientation.Horizontal"
             JustifyContent="JustifyContent.Center"
             AlignItems="AlignItems.Center"
             Style="height: 90-vh"
             class="rz-w-100">

    <RadzenCard class="rz-w-lg-50 rz-w-sm-100">
        <RadzenStack Orientation="Orientation.Horizontal"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.SpaceBetween"
                     class="rz-w-100"
                     Wrap="FlexWrap.Wrap">
            <RadzenImage Path="images/Me.jpg"
                         Style="width: 100px; height: 100px; border-radius: 50%"
                         AlternateText="Mitch Bishop" />
            <RadzenText TextStyle="TextStyle.H2" class="rz-display-flex rz-mt-2 rz-my-0">Mitch Bishop</RadzenText>
        </RadzenStack>
        <hr style="border: none; background-color: rgba(0,0,0,.2); height: 1px; margin: 1rem 0;" />
        <RadzenStack Orientation="Orientation.Horizontal"
                     AlignItems="AlignItems.Start"
                     JustifyContent="JustifyContent.SpaceBetween"
                     class="rz-w-100"
                     Wrap="FlexWrap.Wrap">
            <RadzenStack Orientation="Orientation.Vertical"
                         AlignItems="AlignItems.Start">
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Location</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>Mosheim, TN</b></RadzenText>
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Vertical"
                         AlignItems="AlignItems.Start">
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Phone</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><a href="tel:423-470-9156">(423) 470-9156</a></RadzenText>
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Vertical"
                         AlignItems="AlignItems.Start">
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Email</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">
                    <a href="mailto:mitch.bishop@proton.me">mitch.bishop@proton.me</a>
                </RadzenText>
            </RadzenStack>
        </RadzenStack>
        <hr style="border: none; background-color: rgba(0,0,0,.2); height: 1px; margin: 1rem 0;" />
        <RadzenPanel AllowCollapse="true" class="rz-w-100 rz-mx-auto">
            <HeaderTemplate>
                <RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-align-items-center rz-m-0">
                    <RadzenIcon Icon="terminal" class="rz-me-1" /><b>Skills</b>
                </RadzenText>
            </HeaderTemplate>
            <ChildContent>
                <RadzenAccordion>
                    <Items>
                        <RadzenAccordionItem Text="UX/UI"
                                             CollapseTitle="Ordered by proficiency."
                                             ExpandTitle="Ordered by proficiency."
                                             Icon="tv_signin">
                            <RadzenStack Orientation="Orientation.Horizontal"
                                         AlignItems="AlignItems.Center"
                                         JustifyContent="JustifyContent.SpaceBetween"
                                         class="rz-w-100"
                                         Gap="10px"
                                         Wrap="FlexWrap.Wrap">
                                <RadzenLink Icon="frame_source" Path="https://angular.dev/"
                                            Text="Angular" target="_blank" class="big" />
                                <RadzenLink Icon="frame_source" Path="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
                                            Text="Blazor" target="_blank" class="big" />
                                <RadzenLink Icon="frame_source" Path="https://learn.microsoft.com/en-us/dotnet/desktop/winforms/overview/?view=netdesktop-9.0"
                                            Text="WinForms" target="_blank" class="big" />
                                <RadzenLink Icon="frame_source" Path="https://learn.microsoft.com/en-us/aspnet/web-forms/"
                                            Text="WebForms" target="_blank" class="big" />
                                <RadzenLink Icon="translate" Path="https://learn.microsoft.com/en-us/dotnet/csharp/"
                                            Text="C#" target="_blank" class="big" />
                                <RadzenLink Icon="translate" Path="https://www.typescriptlang.org/"
                                            Text="TypeScript" target="_blank" class="big" />
                                <RadzenLink Icon="translate" Path="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                                            Text="JavaScript" target="_blank" class="big" />
                                <RadzenLink Icon="translate" Path="https://developer.mozilla.org/en-US/docs/Web/HTML"
                                            Text="HTML" target="_blank" class="big" />
                                <RadzenLink Icon="translate" Path="https://developer.mozilla.org/en-US/docs/Web/CSS"
                                            Text="CSS" target="_blank" class="big" />
                                <RadzenLink Icon="translate" Path="https://learn.microsoft.com/en-us/dotnet/visual-basic/language-reference/"
                                            Text="VB.NET" target="_blank" class="big" />
                            </RadzenStack>
                        </RadzenAccordionItem>
                        <RadzenAccordionItem Text="Server"
                                             CollapseTitle="Ordered by proficiency."
                                             ExpandTitle="Ordered by proficiency."
                                             Icon="dns">
                            <RadzenStack Orientation="Orientation.Horizontal"
                                         AlignItems="AlignItems.Start"
                                         JustifyContent="JustifyContent.SpaceBetween"
                                         class="rz-w-100"
                                         Gap="10px"
                                         Wrap="FlexWrap.Wrap">
                            </RadzenStack>
                        </RadzenAccordionItem>
                        <RadzenAccordionItem Text="Database"
                                             CollapseTitle="Ordered by proficiency."
                                             ExpandTitle="Ordered by proficiency."
                                             Icon="database">
                            <RadzenStack Orientation="Orientation.Horizontal"
                                         AlignItems="AlignItems.Start"
                                         JustifyContent="JustifyContent.SpaceBetween"
                                         class="rz-w-100"
                                         Gap="10px"
                                         Wrap="FlexWrap.Wrap">
                            </RadzenStack>
                        </RadzenAccordionItem>
                    </Items>
                </RadzenAccordion>
            </ChildContent>
            <SummaryTemplate>

            </SummaryTemplate>
        </RadzenPanel>
    </RadzenCard>

</RadzenStack>
@code {

}
